*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'iconos';
    src:  url('../fonts/icomoon/icomoon.eot?zfpdj5');
    src:  url('../fonts/icomoon/icomoon.eot?zfpdj5#iefix') format('embedded-opentype'),
      url('../fonts/icomoon/icomoon.ttf?zfpdj5') format('truetype'),
      url('../fonts/icomoon/icomoon.woff?zfpdj5') format('woff'),
      url('../fonts/icomoon/icomoon.svg?zfpdj5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

header{
    background-color: #f8f9fa;
    padding-top: 25px;
    padding-bottom: 25px;
}

header div{
    display: inline-block;
}

header .logo{
    margin-left: 10%;
}

header .lista{
    margin-left: 25px;
    vertical-align: top;
    margin-top: 30px;
}

header .lista ul li{
    display: inline-block;
    margin-left: 25px;
}

header .lista ul li a{
    text-decoration: none;
    color: #333333;
}

header .buscador{
    float: right;
    margin-right: 15%;
    margin-top: 20px;
}

header .buscador p{
    background-color: #dcd9d8;
    padding: 7px 10px 7px 10px;
    border-radius: 50%;
}

header .buscador p span::before{
    font-family: "iconos";
    content: "\e986";
}

header .lista ul li .home::before{
    font-family: "iconos";
    content: "\e902";
    margin-right: 5px;
}

header .lista ul li .foro::before{
    font-family: "iconos";
    content: "\e96c";
    margin-right: 5px;
}

nav ul{
    margin-left: 11%;
}

nav ul li{
    display: inline-block;
    margin-right: 25px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
}

nav ul li a .discord::before{
    font-family: "iconos";
    content: "\e900";
    margin-right: 5px;
}

nav ul li a .perfil::before{
    font-family: "iconos";
    content: "\e971";
    margin-right: 5px;
}

nav ul li a .cofig::before{
    font-family: "iconos";
    content: "\e994";
    margin-right: 5px;
}

nav ul li a .Seguidos::before{
    font-family: "iconos";
    content: "\ea52";
    margin-right: 5px;
}

nav ul li a .favoritos::before{
    font-family: "iconos";
    content: "\e9da";
    margin-right: 5px;
}

section{
    margin-left: 11%;
    margin-top: 50px;
}

section .encabezado{
    border-bottom: 1px solid #333333;
    width: 60%;
}

section .encabezado .destacado p .des::before{
    font-family: "iconos";
    content: "\e9a9";
}

section .encabezado .populares p{
    background-color: #f8f9fa;
    padding: 10px;
}

section .encabezado .destacado, section .encabezado .titulo{
    display: inline-block;
}

section .encabezado .titulo h3 {
    text-transform: uppercase;
    margin-left: 5px;
    font-weight: 200;
}

section .articulos{
    margin-top: 25px;
    border-bottom: 1px solid #333333;
    width: 75%;
    padding-bottom: 15px;
}

section article{
    display: inline-block;
}

section article .portada, section article .contenido{
    display: inline-block;
}


section article .caratula, section article .contenido {
    display: inline-block;
}

section article .contenido {
    vertical-align: top;
    margin-top: 10px;
    margin-left: 30px;
}
section article .contenido .nombre{
    width: 80%;
}

section article .contenido .puntuacion{
    margin-top: 15px;
}

section article .contenido .puntuacion p{
    font-weight: bold;
}

section article .contenido .puntuacion .estrella::before{
    font-family: "iconos";
    content: "\e9d9";
    color: #ffd900;
}


section article .capitulos-f{
    margin-top: 50px;
}

section article .capitulos-f ul{
    list-style: none;
}

section article .capitulos-f .update,section article .capitulos-f .capitulo{
    display: inline-block;
    margin-top: 50px;
}

section article .capitulos-f .capitulo{
    margin-left: 10px;
    margin-bottom: 20px;   
    background-color: #ebebeb;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
}

section article .capitulos-f ul a{
    text-decoration: none;
    color: #000000;
    font-weight: 200;
}

footer{
    -webkit-box-shadow: 0px -5px 5px 0px rgba(97,97,97,0.67);
    -moz-box-shadow: 0px -5px 5px 0px rgba(97,97,97,0.67);
    box-shadow: 0px -5px 5px 0px rgba(97,97,97,0.67);
    margin-top: 80px;
    padding-bottom: 50px;
}

footer .lista-footer {
    padding-top: 50px;
    text-align: center;
}

footer .lista-footer ul li{
    display: inline-block;
    border-right: 2px solid;
    padding-left: 20px;
    padding-right: 20px;
}

footer .lista-footer ul li:last-child{
    border-right: 0px;
}

footer .lista-footer ul li a{
    text-decoration: none;
    text-transform: uppercase;
}

footer .lista-footer ul li:nth-child(2) a{
    text-transform: capitalize;
}

footer .texto-footer{
    margin-top: 20px;
    text-align: center;
}

footer .texto-footer p{
    font-size: 14px;
    width: 67%;
    margin-left: 18%;
    margin-right: auto;
}

section .formulario{
    margin-bottom: 40px;
}

section .formulario form{
    margin-top: 15px;
}

section .formulario form input{
    display: block;
}

section .formulario form input:last-child{
    margin-top: 10px;
}

.titulo-formulario, .input-formulario {
    display: none;
} 